/* src/components/Nav.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d95a44;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.profile-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.profile-btn img {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
}

.nav-not img {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
  margin-top: 12px;
}

.nav-con img {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
  margin-top: 12px;
}

/* Dropdown Menu */
.dropdown-menu {
  /* border: 2px solid red; */
  position: absolute;
  top: 75px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 230px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 9px 0;
  z-index: 10;
}

/* Adjust the profile-header layout */
.profile-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* Style for the profile image */
.profile-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Add spacing between the image and text */
}

/* Profile text container */
.profile-info {
  display: flex;
  align-items: center;
}

/* Text info beside the image */
.text-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.text-info p {
  margin: 0;
  font-size: 12px;
  color: gray;
}


.dropdown-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-links li {
  padding: 10px 20px;
}

.dropdown-links li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown-links li a:hover {
  background-color: #f5f5f5;
  color: #d95a44;
  border-radius: 5px;
}

