/* src/components/Nav.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d95a44;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.profile-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.profile-btn img {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
}

.nav-not img {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
  margin-top: 12px;
}

.nav-con img {
  width: 34px;
  height: 34px;
  display: block;
  border: none;
  margin-top: 12px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar.active {
  right: 0;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
